<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Explore Vendors | Hidden Local</title>

    <link rel="stylesheet" href="../static/css/style.css">
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    />
</head>
<body>

<nav class="navbar">
    <h2 class="logo">Hidden Local</h2>
    <ul class="nav-links">
        <li><a href="index.html">Home</a></li>
        <li><a href="explore.html">Explore</a></li>
        <li><a href="add_vendor.html">Add Vendor</a></li>
    </ul>
</nav>

<section class="about">
    <h2>Explore Hidden Places</h2>

    <!-- TOP HIDDEN GEMS -->
    <h3 style="margin-top:20px">Top Hidden Gems</h3>
    <div id="topGems" style="margin-bottom:30px;"></div>

    <!-- MAP -->
    <div id="map" style="height:400px; margin-bottom:30px;"></div>

    <!-- ALL VENDORS -->
    <h3>All Hidden Places</h3>
    <div id="vendorList"></div>
</section>


<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="../static/js/explore.js"></script>

</body>
</html>
